Dockerfile
.dockerignore
docker-compose.yml

node_modules
npm-debug.log*

.next
out
.git
.github
.husky
.vscode

# env & secrets
.env
.env.*

# config / docs not needed in the image
*.md
eslint.config.mjs
prettier.config.js
.prettierignore
commitlint.config.js
*.code-workspace

# tests
e2e
test-results
playwright-report
playwright.config.ts
